<div class="mt-5 mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-10 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-center mb-3">Add New Team</h2>
                        <form style="width: fit-content; margin-top: 30px;" [formGroup]="TeamForm" (ngSubmit)="addTeams()">
                            <div class="form-group row ">
                                <label for="" class="col-sm-3 col-form-label">TeamId</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  formControlName="_TeamId">
                                </div>
                                <label for="" class="col-sm-3 col-form-label">Team Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addTeamName" formControlName="_TeamName">
                                </div>
                                <label for="" class="col-sm-3 col-form-label">Image Url</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addTeamImageUrl" formControlName="_TeamImageUrl">
                                </div>
                    
                                <label for="" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="_TeamDescription">
                                </div>
                    
                                <label for="" class="col-sm-3 col-form-label">Team Location</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addTeamLocation" formControlName="_TeamLocation">
                                </div>
                                <label for="" class="col-sm-3 col-form-label">No Of Players</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addNoOfPlayers" formControlName="_TeamPlayers">
                                </div>
                                <div class="btn-group mt-4">
                                <button class="btn btn-danger" style="margin-right: 5px;" routerLink="../teams">Cancel</button>
                                <button class="btn btn-primary float-right" type="submit">Edit</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>