<!--

Search Component is pending,
-->
  <!-- pop for the editing user -->
  
  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-edit-user></app-edit-user> 
       </div>
      </div>
    </div>
  </div>
  

<div class="container">
<table class="table table-striped" style="background-color: beige;">
    <thead>
        <th>Email</th>
        
        <th>Username</th>
        <th>Mobile Number</th>
        <th>User Type</th>
    </thead>
    <tbody>
        <tr *ngFor="let s of UserList;let i=index">
            <td>{{s.email}}</td> 
            <td>{{s.username}}</td>
            <td>{{s.mobileNumber}}</td>
            <td>{{s.userRole}}</td>
              <td>  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
              </button></td>
            <td><button class="btn btn-danger" (click)="delete(i)" >Delete</button></td>
           
        </tr>
        
    </tbody>
</table>
</div>
