<!-- The main navabar -->
<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a style="color: black;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;"
            class="navbar-brand" href="#">
            <h2>Baseball Event</h2>
        </a>
        <a class="nav-link" id="adminVenues" routerLink="view" style="color: black; font-size: 20px;">Venues</a>
        <a class="nav-link" id="adminTeams" routerLink="teams" style="color: black; font-size: 20px;">Teams</a>
        <a class="nav-link" id="adminRefree" routerLink="refree" style="color: black; font-size: 20px;">Refree</a>
        <a class="nav-link" routerLink="display" style="color: black; font-size: 20px;">Users</a>
        <div class="d-flex">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<!-- The main navbar ends-->
<router-outlet></router-outlet>
