<div class="container my-3">
    <div class="input-group search-bar">
        <input type="text" id="form1" class="form-control"  [(ngModel)]="searchString" placeholder="Search by Team Name"/>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
    </div> 
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let s of teams;let i = index"  > -->
        <div class="col" *ngFor="let team of teams | teamSearch:searchString;let i = index "  >
       
            <div class="card h-100"  id="adminTeam{{i}}" style="width: 20rem;" >
                <img src="{{team.imageUrl}}" class="card-img-top " style="height: 15rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{team.teamName}}</h5>
                    <p class="card-text mx-4">Place: {{team.location}}</p>
                    <div class="btn-group d-flex">   
                        <button type="button" id="editVenue"  id="editTeam" (click)="updateTeam(i)" class="btn btn-sm btn-primary float-right" style="width: 120px; margin-right: 5px;"><i class="fas fa-edit"></i></button>
                        <!-- <a class="btn btn-sm btn-danger" data-bs-toggle="modal" id="deleteTeam" (click)="deleteTeam(i)" data-bs-target="#exampleModal"><i class="fas fa-trash"></i></a> -->
                        <button class="btn btn-sm btn-danger float-right" id="deleteTeam" (click)="deleteTeam(i)" style="width: 120px;"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary" routerLink="../addTeam" id="addTeamButton">Add the Team</button>
</div>